/*Colors and fonts*/
body {
  background:;
  color: Black;
  font-family:Lato;
  font-size: 20px;
  font-weight: 600;
}

h1 {
  color: #3876BF;
  font-family:Ubuntu;
  font-size:;
}

h2 {
  color: #3876BF;
  font-family:Ubuntu;
  font-size:;
}

a {
  color: darkblue;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}
a:hover {
  color: #3876BF;
  text-decoration: none;
}


/* Custom design with class */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  } 
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.card-white {
  background-color: #F5F7F8;
  padding: 40px;
  box-shadow:30px 30px 30px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin: 70px 10px;
  text-align: center;
}
.img-circle {
  border-radius: 30%;
  width: 130px;
  margin: 10px;
}
.btn-blue {
  background-color: #3876BF;
  color: white;
  padding: 15px 15px;
  border-radius: 20px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

#introduction p {
  margin-bottom: 40px;
}